<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  
</head>

<body>
<div align="center">
<div>

  													<!--navbar portion-->
  <nav class="navbar navbar-expand-sm bg-dark fixed-top">
  <a class="navbar-brand" href="#"><b>IMDB Sentiment Analysis</b></a>
  <ul class="navbar-nav" >
    <li class="nav-item">
    </li>
    <li class="nav-item">
    </li>
  </ul>
</nav>
<br>
</div>

<style>
#ip3 {
    border-radius: 85px 0px 30px 5px;
    background: #FF4500;
    padding: 20px; 
    width: 600px;
    height: 75px; 
}

</style>
<br><br><br>
<h2 id="ip3">Review Sentiment Analysis</h2>
		
	
	

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>Enter Your review Here</p>
	
		<textarea name="Reviews" rows="6" cols="50" required="required" id="ip4"></textarea>
		<br/>
<br><br>
		<input type="submit" class="btn-primary  value="predict">
		
	</form>
</div></div>
</body>
</html>
